[Interface]
PrivateKey = {{ box_wg_private_key }}

[Peer]
Endpoint = {{ hostvars['server'].ansible_host }}:{{ wireguard_server_listen_port }}
PersistentKeepalive = {{ wireguard_box_keepalive }}
PublicKey = {{ server_wg_public_key }}
AllowedIPs = {{ wireguard_subnet_ipv4 }}
