[Interface]
PrivateKey = {{ server_wg_private_key }}
ListenPort = {{ wireguard_server_listen_port }}

[Peer]
PublicKey = {{ box_wg_public_key }}
AllowedIPs = {{ '0.0.0.0/0' + (', ::/0' if wireguard_use_ipv6 else '') }}

{% for client in clients %}
[Peer]
# {{ client.comment }}
PublicKey = {{ client.public_key }}
AllowedIPs = {{ client.allowed_ips | join(", ") }}
{% endfor %}